{% extends 'base.html.twig' %}

{% block title %}Documentexpedition index{% endblock %}

{% block body %}
    <h1>Documentexpedition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datesignature</th>
                <th>Statut</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for documentexpedition in documentexpeditions %}
            <tr>
                <td>{{ documentexpedition.id }}</td>
                <td>{{ documentexpedition.datesignature ? documentexpedition.datesignature|date('Y-m-d') : '' }}</td>
                <td>{{ documentexpedition.statut }}</td>
                <td>{{ documentexpedition.description }}</td>

                <td>
                    <a href="{{ path('app_documentexpedition_show', {'id': documentexpedition.id}) }}">show</a>
                    <a href="{{ path('app_documentexpedition_edit', {'id': documentexpedition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun element</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_documentexpedition_new') }}">Ajouter un document d'expedition</a>
{% endblock %}
