{% extends 'base.html.twig' %}

{% block title %}Colis index{% endblock %}

{% block body %}
    <h1>Colis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdColis</th>
                <th>Nomexpediteur</th>
                <th>Adresseexpediteur</th>
                <th>Nomdestinataire</th>
                <th>Adressedestinataire</th>
                <th>Poids</th>
                <th>Statut</th>
                <th>Dateexpedition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coli in colis %}
            <tr>
                <td>{{ coli.idColis }}</td>
                <td>{{ coli.nomexpediteur }}</td>
                <td>{{ coli.adresseexpediteur }}</td>
                <td>{{ coli.nomdestinataire }}</td>
                <td>{{ coli.adressedestinataire }}</td>
                <td>{{ coli.poids }}</td>
                <td>{{ coli.statut }}</td>
                <td>{{ coli.dateexpedition ? coli.dateexpedition|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_colis_show', {'idColis': coli.idColis}) }}">show</a>
                    <a href="{{ path('app_colis_edit', {'idColis': coli.idColis}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_colis_new') }}">Create new</a>
{% endblock %}
