{% extends 'base.html.twig' %}

{% block title %}Colis{% endblock %}

{% block body %}
    <h1>Colis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coli.id }}</td>
            </tr>
            <tr>
                <th>NomExpediteur</th>
                <td>{{ coli.nomExpediteur }}</td>
            </tr>
            <tr>
                <th>AdresseExpediteur</th>
                <td>{{ coli.adresseExpediteur }}</td>
            </tr>
            <tr>
                <th>NomDestinataire</th>
                <td>{{ coli.nomDestinataire }}</td>
            </tr>
            <tr>
                <th>AdresseDestinataire</th>
                <td>{{ coli.adresseDestinataire }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ coli.poids }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ coli.statut }}</td>
            </tr>
            <tr>
                <th>DateExpedition</th>
                <td>{{ coli.dateExpedition ? coli.dateExpedition|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_colis_index') }}">back to list</a>

    <a href="{{ path('app_colis_edit', {'id': coli.id}) }}">edit</a>

    {{ include('colis/_delete_form.html.twig') }}
{% endblock %}
