{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <h1>User index</h1>
	<input type="text" id="search" class="form-control" placeholder="Search"><br>
    <table border="1" id="t"class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Email</td>
                <td>Roles</td>
                <td>Password</td>
                <td>Nom</td>
                <td>Prenom</td>
                <td>Adress</td>
                <td>Cin</td>
                <td>Date_naissance</td>
                <td>Date_creation_c</td>
                <td>Status</td>
                <td>Token</td>
                <td>Score</td>
                <td>Numtel</td>
                <td>Image</td>
                <td>Compte_ex</td>
                <td>Token_ex</td>
                <td>actions</td>
            </tr>
        </thead>
       <tbody id="all">
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{# {{ user.roles ? user.roles|json_encode : '' }} #}FFFFFF</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.cin }}</td>
                <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ user.dateCreationC ? user.dateCreationC|date('Y-m-d') : '' }}</td>
                <td>{{ user.status ? 'Yes' : 'No' }}</td>
                <td>{{ user.token }}</td>
                <td>{{ user.score }}</td>
                <td>{{ user.numtel }}</td>
                <td>{{ user.image }}</td>
                <td>{{ user.compteEx ? user.compteEx|date('Y-m-d') : '' }}</td>
                <td>{{ user.tokenEx ? user.tokenEx|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_admin_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="searchtab">
				<td>ss</td>
			</tbody>
    </table>

    <a href="{{ path('app_admin_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
	{{ parent() }}


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
$("#search").keyup(function () { /* La variable value va prendre la valeur insérer dans le
						champ de texte
						afin d’effectuer la recherche */
var value = $(this).val();
console.log("value : ")
/* Ajax est lancé lors du remplissage du champ texte dont
						l’id est
						« search » pour faire la recherche */
$.ajax({ /* l’url est une chaine de caractères contenant
						l’adresse où la requête est
						6
						envoyée */
url: "{{ path('app_admin_search') }}",
/* La méthode utilisée pour transférer les données est
						GET */
type: 'GET',
/*Ici search value va prendre la chaine entrée par un
						utilisateur dans la
						zone de recherche et sera placée après l’url */
data: {
'searchValue': value
},
/*Cette fonction permet de vider le contenu du tableau
						pour recevoir le
						nouveau contenu*/
success: function (retour) {
if (retour) {
$('#t tbody#searchtab').empty();
$.each(JSON.parse(retour), function (i, obj) {
$('#t tbody#all').hide();

$('#t tbody#searchtab').append('<tr><td>' + obj.id + '</td><td> ' + obj.email + ' </td><td>' + obj.roles + '</td><td>' + obj.Password + '</td><td>' + obj.nom+ '</td><td>' + obj.prenom+'</td><td>' + obj.adress + '</td><td>' + obj.cin + '</td><td>' + obj.dateNaissance + '</td><td>' + obj.dateCreationC+ '</td><td>' + obj.status+ '</td><td>' + obj.token + '</td><td>' + obj.score+ '</td><td>' + obj.numtel + '</td><td>' + obj.image + '</td><td>' + obj.compteEx + '</td><td>' + obj.tokenEx+ '</td><td><a href="' + obj.id + 'edit/">modifier</a> </br><a	href="' + obj.id + 'delete/">supprimer</a></td></tr>');
});
} else {
$('#t tbody#all').show();
$('#t tbody#searchtab').empty();
$('#t tbody#searchtab').fadeIn('fast');
}
}
});
return false;
});
});
	</script>

{% endblock %}
