{% extends 'baseadmin.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	{#<!-- ======= Breadcrumbs ======= -->
				    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/contact-header.jpg');">
				      <div class="container position-relative d-flex flex-column align-items-center">
				
				        <h2>Contact</h2>
				        <ol>
				          <li><a href="index.html">Home</a></li>
				          <li>Contact</li>
				        </ol>
				
				      </div>
				    </div><!-- End Breadcrumbs -->#}
	<h1>User index</h1>
	<form method="get" action="{{ path('app_user_index') }}">
		<div class="input-group mb-3">
			<input type="text" name="q" class="form-control" placeholder="Search users...">
			<div class="input-group-append">
				<button type="submit" class="btn btn-outline-secondary">Search</button>
			</div>
		</div>
	</form>

	<div class="container-fluid p-0">
		<a class="btn btn-secondary" href="{{ path('app_user_new') }}">Register</a>
		<h1 class="h3 mb-3">Blank Page</h1>

		<div class="row">
			<div class="col-12" style="overflow-x: scroll">
				<div class="card" style="width: 1720px;">
					<div class="card-header">
						<h5 class="card-title mb-0">Empty card</h5>
					</div>
					<div class="card-body">

						<table class="table">
							<thead>
								<tr>

									<th>Nom</th>

								</tr>
							</thead>
							<tbody>
								<div>
									{% for user in users|batch(3) %}
										<tr>
											{% for u in user %}
												<td>{{ u.nom }}
													<div class="col-md-6 col-xl-3">
														<div class="card m-b-10" style="width: 450px; height: 500px;">
															<div class="card-body row">
																<div class="col-6">
																	<a href=""><img src="{{u.image}}" alt="" class="img-fluid rounded-circle w-40" height="75" width="75"></a>
																</div>
																<div class="col-6 card-title align-self-center mb-0">
																	<h5>{{ u.nom}}</h5>
																	<p class="m-0">{{ u.role }}</p>
																</div>
															</div>
															<ul class="list-group list-group-flush">
																<li class="list-group-item">
																	<i class="fa fa-envelope float-right"></i>Email :
																	<a href="#">{{ u.email }}</a>
																</li>
																<li class="list-group-item">
																	<i class="fa fa-phone float-right"></i>Phone :
																	{{ u.numtel }}</li>
															</ul>
															<div class="card-body">
																<div class="float-right btn-group btn-group-sm" style="width: 75px; height: 35px;">
																	<a href="{{ path('app_user_show', {'id': u.id}) }}" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
																		<i class="fa fa-pencil"></i>
																	</a>
																	<a href="{{ path('app_message_new', {'id': u.id} )}}" class="btn btn-outline-primary">Message</a>

																	<a href="{{ path('app_user_edit', {'id': u.id}) }}" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
																		<i class="fa fa-times"></i>
																	</a>
																</div>
																<ul class="social-links list-inline mb-0">
																	<li class="list-inline-item">
																		<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook">
																			<i class="fa fa-facebook-f"></i>
																		</a>
																	</li>
																	<li class="list-inline-item">
																		<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter">
																			<i class="fa fa-twitter"></i>
																		</a>
																	</li>
																	<li class="list-inline-item">
																		<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype">
																			<i class="fa fa-skype"></i>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</td>
											{% endfor %}
										</tr>
									{% else %}
										<tr>
											<td colspan="3">no records found</td>
										</tr>
									{% endfor %}
								</div>
							</tbody>

						</table>


					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
